<h2 mat-dialog-title>Move Asset</h2>
<mat-dialog-content class="dialog-content">
  <p>Select the destination location for this asset.</p>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Location</mat-label>
    <mat-select
      [value]="selectedLocationId"
      (selectionChange)="selectedLocationId = $event.value"
    >
      <mat-option *ngFor="let location of data.locations" [value]="location.id">
        {{ location.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="submit()"
    [disabled]="!selectedLocationId || selectedLocationId === data.currentLocationId"
  >
    Move Asset
  </button>
</mat-dialog-actions>

