
<!-- <app-structure-tree-vertical></app-structure-tree-vertical> -->
<!-- <app-structure-matrix [countries]="demoCountries"></app-structure-matrix> -->
<!-- <app-role-lens [countries]="demoCountries"></app-role-lens> -->
<!-- <app-structure-tree-vertical-v2 [countries]="demoCountries"></app-structure-tree-vertical-v2> -->

<app-org-tree-downward></app-org-tree-downward>
<div class="m-20"></div>
<app-org-tree-rooted ></app-org-tree-rooted>
<div class="m-20"></div>
<!-- <app-structure-tree-vertical-v2></app-structure-tree-vertical-v2> -->

