<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          
          <div class="text-center flex items-center justify-center">
                <a>
                  <img
                  height="120"
                  width="120"
                    src="./assets/images/logos/icon-connect.svg"
                    class="m-2"
                    alt="logo"
                  />
                </a>
          </div>





          <form class="m-t-30" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" placeholder="Email" />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" placeholder="Password" />
            </mat-form-field>

            <!-- Error message -->
            <div *ngIf="errorMessage" class="text-red-500 text-sm errMsg" style="margin-bottom: 20px;">
              {{ errorMessage }}
            </div>
            <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="loginForm.invalid || loading"
            [class.spinner]="loading">Sign In
              
              
            </button>

          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>