/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color:#ECF2FF ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}

  